    <div class="span5 pull-left">
      <ul class="nav nav-list">
        <li><a href="#">< Create Prequel</a></li>
      </ul>
    </div>
    <div class="span5 pull-right">
      <ul class="nav nav-list text-right">
        <li><a href="#">Create Sequel ></a></li>
      </ul>
    </div>
