<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag :application, :media => :all %>
    <%= javascript_include_tag :application %>
    <title>Write a 5k!</title>
  </head>
  <body>
  </body>
</html>
